.contactform__contacto {
    display: flex;
    gap: 20px;
    align-items: center;
}

.contactform__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contactform__container {
    width: 45vw;
}

.contactform__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contactform__input__container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contactform_subtext_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.message__input__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/*Tablet*/
@media (max-width: 768px) {

    .contactform__contacto {
        gap: 0px;
    }

    .contactform__container {
        width: 100%;
    }
}
