h2.academic__title {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--cor-de-texto);
}

div.academic__courses {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

div.academic__courses__box {
    width: 23vw;
    height: 180px;
    padding: 20px 20px 45px 20px;
    background-color: #D4DCE6;
}

.academic__courses__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.academic__courses__item__img img {
    width: 100px;
}

.academic__courses__item__title {
    font-weight: bold;
    color: var(--cor-de-texto);
}

.academic__courses__item__subtitle{
    color: var(--cor-de-texto);
}

div.academic__courses__box ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*Tablet*/
@media (max-width: 768px) {

    div.academic__courses__box ul {
        gap: 5px;
    }    

    div.academic__courses__box {
        width: 20vw;
        height: 150px;
        padding-top: 20px;
    }

    .academic__courses__item__img img {
        width: 70px;
    }    
}

/*Mobile*/
@media (max-width: 360px) {

    div.academic__courses__box ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }    

    div.academic__courses__box {
        width: 100%;
        height: 130px;
        padding: 1em 1em 3em 1em;
        background-color: #D4DCE6;
    }

    .academic__courses__item__img img {
        width: 80px;
    }    
}