h3.hobbies__title {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--cor-de-texto);
}

div.hobbies__line {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

div.hobbies__box {
    width: 7%;
    height: 40px;
    padding: 40px 40px 55px 40px;
    background-color: #D4DCE6;
}

div.hobbies__box ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobbies__img img {
    width: 35px;
}

/*Tablet*/
@media (max-width: 768px) {
    div.hobbies__box {
        width: 18%;
    }
}

/*Mobile*/
@media (max-width: 360px) {
    div.hobbies__box {
        width: 15%;
    }
}