.title__div {
    padding-top: 4vh;
    display: flex;
    align-items: center;
    gap: 1vw;
}

.title__profile {
    order: 2;
}

.title__container {
    width: 60%;
}

.title__network {
    display: flex;
    flex-wrap: wrap;
}

/*Tablet*/
@media (max-width: 768px) {
    .title__div {
        align-items: flex-start;
    }

    .title__container {
        width: 70%;
        padding-left: 0vw;
    }
}

/*Mobile*/
@media (max-width: 360px) {
    .title__div {
        padding-top: 0;
        flex-direction: column;
        gap: 1.5em;
    }

    .title__profile {
        order: 0;
    }

    .title__container {
        width: 100%;
    }
}
