section {
    padding: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text__item {
    line-height: 1.2; /* Modifica el interlineado aquí */
    text-align: justify; /* Justifica el texto aquí */
}

h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

.diagram__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.diagram {
    align-self: center;
    width: 45vw;
}

iframe {
    width: 100%;
    height: 480px;
}

/*Tablet*/
@media (max-width: 768px) {
    .diagram {
        width: 100%;
    }
}
